.upBox {
    display: inline-block;
    cursor: pointer;
}

.upText {
    display: inline-block;
    padding: 3px 40px;
    font-weight: bold;
    font-size: 18px;
}

.up {
    width: 20px;
    position: absolute;
}

.pigPic {
    width: 90%;
    height: 450px;
    overflow: hidden;
    margin: 40px auto;
    border-radius: 10px;
}

.pigPic img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

/*大圖以下*/

.textBox {
    width: 90%;
    padding: 20px;
    margin: auto;
}

.smallTextBox {
    display: flex;
    justify-content: space-between;
}

/* 按鈕 */

.watchBtn {
    padding: 15px 40px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    margin: 0 30px;
    background: rgb(237, 208, 163);
    cursor: pointer;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fbb03b 0%, rgba(226, 102, 96, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fbb03b 0%, rgba(226, 102, 96, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fbb03b 0%, rgba(226, 102, 96, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.watchBtn:hover {
    background: rgb(232, 177, 122);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(232, 177, 122, 1) 0%, rgba(252, 123, 123, 1) 45%, rgba(226, 102, 96, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(232, 177, 122, 1) 0%, rgba(252, 123, 123, 1) 45%, rgba(226, 102, 96, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(232, 177, 122, 1) 0%, rgba(252, 123, 123, 1) 45%, rgba(226, 102, 96, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/*介紹*/

.titleText,
.detailText {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 20px;
}

.detailText {
    font-size: 16px;
    padding: 40px 20px;
    font-weight: normal;
    line-height: 24px;
}

.useTitle {
    padding: 40px 0px 10px;
    font-weight: bold;
    font-size: 20px;
    width: 40%;
    border-bottom: solid 6px #e26660;
}

.use {
    padding: 40px 0px;
    line-height: 34px;
}

.textIn {
    width: 65%;
    line-height: 34px;
}

/*介紹圖*/

.detailPicBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.detailPicBox a {
    overflow: hidden;
}

.picBoxForDetail {
    overflow: hidden;
    margin: 10px 15px;
    height: 250px;
    border-radius: 10px;
    border: solid rgb(43, 42, 42) 8px;
    transition: .2s;
}

.picBoxForDetail img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.picBoxForDetail:hover{
    border: solid #eee 8px;
}
/*顏色盒*/
.useColor{
    padding: 40px 0 10px;
}
.useText{
    padding: 20px 0;
}
/*連結*/
.use a{
    color: #eee;
    transition: .5s;
}
.use a:hover{
    color: #fff;
    text-decoration:underline;
}