* {
    /* border:solid 1px; */
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    text-decoration: none;
    list-style: none;
}

a {
    color: none;
}

/* 藍#3b4372 紅#e26660 深紅#a35050 */

/* 卡住用的 */

body {
    /* max-width: 1920px; */
    /* min-width: 1450px; */
    width: 100%;
    display: grid;
    grid-template-columns: 300px auto;
}

/* 左邊區域 */

.p {
    text-align: center;
    font-size: 14px;
    color: #eee;
    padding: 10px;
    opacity: 0;
    animation: WhiteBox 1.5s 1;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.leftBox {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #3b4372;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    z-index: 2;
    overflow: hidden;
    transition: .2s;
}

.pic {
    width: 180px;
    margin: 40px auto 30px;
}

.myNameBox {
    width: 240px;
    margin: auto;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.birthday {
    margin: 5px auto 20px;
}

.redText {
    color: #e26660;
    font-weight: bold;
    line-height: 36px;
}

/* 聯絡資訊 */

.mail {
    width: 30px;
    height: 30px;
}

.contact,
.tel {
    color: #e26660;
    text-align: left;
    font-weight: bold;
    margin-left: 30px;
}

.contact {
    margin-top: 25px;
    display: flex;
}

.contact p,
.tel span {
    margin-left: 20px;
}

.tel {
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.tel span {
    letter-spacing: 0px;
}

/* 選擇區塊 */

.linkBigBox {
    position: absolute;
    width: 300px;
    bottom: 0;
}

.linkBox {
    padding: 22px;
    text-align: center;
    box-sizing: border-box;
    background-color: #e26660;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
}

.linkBox2 {
    border-top: 2px #fff solid;
}

.linkBox span {
    font-size: 14px;
}

/* hover */

.linkBox:hover {
    background-color: #a35050;
}

/* 右邊區域 */

.rightBox {
    background-color: #333;
    color: #fff;
}

.whiteBox {
    border: solid 10px #fff;
    width: 90%;
    margin: 60px auto 20px;
    padding: 40px;
    box-sizing: border-box;
    font-size: 16px;
    animation: WhiteBox 1.5s 1;
}

.left_right {
    display: flex;
}

/* 左邊切版 */

.smallLeftBox {
    width: 65%;
}

.smallRightBox {
    width: 35%;
}

/* 白色區域左邊細節 */

.title {
    border-bottom: solid 2px #e26660;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.title span {
    font-size: 16px;
}

.mySkill {
    padding: 40px 40px 40px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.skillBox {
    margin: 20px 30px;
    line-height: 26px;
}

.skillBox p {
    font-size: 14px;
    animation: WhiteBox 1.8s 1;
}

/* 能力條 */

.skillLine {
    border-radius: 10px;
    width: 95%;
    height: 15px;
    background-color: #a35050;
    margin: 15px 0;
}

.skillColor {
    border-radius: 10px;
    background: rgb(232, 177, 122);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(232, 177, 122, 1) 0%, rgba(252, 123, 123, 1) 45%, rgba(226, 102, 96, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(232, 177, 122, 1) 0%, rgba(252, 123, 123, 1) 45%, rgba(226, 102, 96, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(232, 177, 122, 1) 0%, rgba(252, 123, 123, 1) 45%, rgba(226, 102, 96, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 0;
    height: 15px;
    animation: ani1 1.5s 1;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.skillColor2,
.skillColor3 {
    animation: ani2 1.5s 1;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.skillColor4,
.skillColor6 {
    animation: ani3 1.5s 1;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

/* 語言能力 */

.myLanguage {
    display: flex;
    padding: 40px 40px 40px 0px;
}

.languageBox {
    width: 50%;
    margin: 20px 30px;
}

/*教育程度*/

.myEducation {
    padding: 40px 40px 40px 0px;
}

.eduText,
.myLicense ul,
.workBox {
    margin: 20px 30px;
}

.darkRed {
    color: #a35050;
    padding: 10px 0;
}

.eduText span {
    margin-left: 10px;
    font-weight: bold;
}

/*白區域右邊*/

.smallRightBox {
    border-left: solid 2px #e26660;
}

.myLicense {
    padding: 40px 0px;
}

/*ul li*/

.myLicense ul li {
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    margin-left: 40px;
    padding: 5px 0;
    animation: WhiteBox 1.8s 1;
}

.myLicense ul li::before {
    content: "➤";
    color: #e26660;
    font-size: 20px;
    padding: 0px 10px;
    list-style: outside;
    position: absolute;
    transform: translateX(-100%);
}

.titleLicense {
    margin-top: 30px;
}

/* 工作經歷 */

.myWorks {
    padding: 30px 10px;
}

.workBox {
    padding: 10px 0 10px 30px;
}

.work {
    margin: 10px 0;
    font-size: 14px;
    line-height: 26px;
}

.colorBox {
    width: 8px;
    height: 60px;
    position: absolute;
    background: rgb(237, 208, 163);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(237, 208, 163, 1) 0%, rgba(254, 144, 144, 1) 45%, rgba(226, 102, 96, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(237, 208, 163, 1) 0%, rgba(254, 144, 144, 1) 45%, rgba(226, 102, 96, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(237, 208, 163, 1) 0%, rgba(254, 144, 144, 1) 45%, rgba(226, 102, 96, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transform: translateX(-350%)translateY(20%);
}

.colorBox3 {
    height: 130px;
}

.company {
    font-weight: bold;
}

/*專業訓練*/

.inSchool {
    padding: 40px 40px 40px 0px;
}

.inSchool p {
    margin: 20px 30px;
    font-size: 14px;
    line-height: 26px;
}

/*去作品集*/

.goToWork {
    /* border:solid 1px #fff; */
    margin-top: 170px;
}

button {
    margin: 0 20px;
    transform: translateX(150%);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.custom-btn {
    padding: 10px 25px;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-5 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-5:before,
.btn-5:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #e26660;
    transition: all 0.3s ease;
}

.btn-5:before {
    height: 50%;
    width: 2px;
}

.btn-5:after {
    width: 20%;
    height: 2px;
}

.btn-5:hover:before {
    height: 100%;
}

.btn-5:hover:after {
    width: 100%;
}

.btn-5 span:before,
.btn-5 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #fff;
    transition: all 0.3s ease;
}

.btn-5 span:before {
    width: 2px;
    height: 50%;
}

.btn-5 span:after {
    width: 20%;
    height: 2px;
}

.btn-5 span:hover:before {
    height: 100%;
}

.btn-5 span:hover:after {
    width: 100%;
}

.pingMe {
    padding: 20px 40px;
}

/*藏起來的*/

.clickBoxNav {
    display: none;
}

@keyframes ani1 {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}

@keyframes ani2 {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes ani3 {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}

@keyframes WhiteBox {
    from {
        opacity: 0;
        transform: translateY(-30%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes LeftBox {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media screen and (max-width: 1280px) {
    body {
        /* max-width: 1920px; */
        /* min-width: 1450px; */
        width: 100%;
        display: grid;
        grid-template-columns: auto;
    }
    .leftBox {
        width: 0;
    }
    .toFixed {
        display: none;
    }
    .clickBoxNav {
        display: block;
        position: fixed;
        width: 60px;
        height: 60px;
        left: 10px;
        top: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        cursor: pointer;
        transition: .8s;
        z-index: 10;
    }
    .threeLine {
        width: 100%;
        height: 8px;
        margin: 6px 0;
        background-color: #fff;
    }
    .leftBox.leftBoxClick {
        width: 100%;
    }
    .linkBigBox.linkBigBoxClick {
        right: 0;
        top: 300px;
    }
    .myNameBox.myNameBoxClick {}
}

@media screen and (max-width: 1024px) {
    .redText,
    .birthday,
    .introduce {
        display: none;
    }
    .linkBigBox {
        width: 100%;
    }
    .contact,
    .tel,
    .mail {
        margin: auto;
        text-align: center;
    }
    .contact,.mail,.contact p{
        display: inline-block;
    }
    .tel {
        margin-bottom: 10px;
    }
    .tel span,.mail{
        margin-left:0px; 
    }
}

@media screen and (max-width: 875px) {
    .left_right {
        display: block;
    }
    .smallLeftBox,
    .smallRightBox {
        width: 100%;
    }
    .smallRightBox {
        border: none;
    }
}

@media screen and (max-width: 600px) {
    .whiteBox {
        width: 100%;
        padding: 40px 20px;
        border: none;
    }
    .mySkill {
        padding: 40px 0px;
        grid-template-columns: 1fr;
    }
    .skillBox {
        margin: 30px 0;
    }
    /* 語言能力 */
    .myLanguage,
    .inSchool,
    .myEducation {
        padding: 40px 0px;
        flex-wrap: wrap;
    }
    .languageBox,
    .inSchool p,
    .eduText,
    .myLicense ul,
    .workBox {
        width: 100%;
        margin: 20px 0px;
    }
    .work {
        margin: 10px 20px 10px -15px;
    }
    .colorBox {
        transform: translateX(-450%)translateY(20%);
    }
    .company {
        margin-left: -15px;
    }
    .myLicense ul li {
        margin-left: 25px;
    }
    .pingMe {
        padding: 10px;
    }
    .p {
        display: none;
    }
    .pDown {
        display: block;
    }
}
